<div id="root">
    <div class="container pt-5">
        <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Orders </h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count"> 100 </span>
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Orders Shipped</h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count"> 80 </span>
                    <!-- <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: 20</span> -->
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Orders Pending </h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count">20</span>
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Returns Till Date</h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count">0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="root">
    <div class="container pt-5">
        <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Products Shipped</h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count"> 150 </span>
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Products in Stock</h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count"> 50 </span>
                    <!-- <span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: 20</span> -->
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Earnings</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count">$1500</span>
                </div>
            </div>
            <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Returns Till Date</h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count">0</span>
                </div>
            </div>
        </div>
    </div>
</div>