<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <button mat-button routerLink="/userdash" >
       
        <mat-icon>done_outline</mat-icon>
        <span style="margin-left: 10px; font-size: 1.5rem;">ESTORE</span>
    </button>
    
    <button mat-icon-button class="d-block me-0 ms-auto"  (click)="logout()" style="padding-right: 95px;">
        <mat-icon>logout</mat-icon>
        <span style="margin-left: 10px; font-size: 1.25rem;">Logout</span>
    </button>
     
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">{{name}}</h4>
        <p class="designation">Seller</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button"  routerLink="/sellerdash">
            <mat-icon>home</mat-icon>
            <span> Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="addproduct">
            <mat-icon>add_shopping_cart</mat-icon>
            <span> Add Products</span>
        </button>
        <button mat-button class="menu-button" routerLink="viewproducts">
            <mat-icon>storefront</mat-icon>
            <span> My Products</span>
        </button>
        <button mat-button class="menu-button" routerLink="userdash">
            <mat-icon>add_shopping_cart</mat-icon>
            <span> Buy Products </span>
        </button>
        <mat-divider></mat-divider>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>