<div class="container">
  <h1 class="text-center m-3">Add Product</h1>
  <div class="row justify-content-md-center">
    <div class="col col-md-8 col-lg-6">
      <form >
        <div class="form-group" style="margin-bottom: 0;">
          <label for="productName">Product name</label>
          <input type="text" class="form-control" formControlName="pname">
        </div>
        <div style="height: 20px;">
          <div *ngIf="!pname.valid && pname.touched">
            <div [hidden]="!pname.errors.required" class="warn-txt float-right">
              <h4>Product Name is required.</h4>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
          <label for="productName">Product Description</label>
          <input type="text" class="form-control" formControlName="pdesc">
        </div>
        <div style="height: 20px;">
          <div *ngIf="!pdesc.valid && pdesc.touched">
            <div [hidden]="!pdesc.errors.required" class="warn-txt float-right">
              <h4>Product Description is required.</h4>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
          <label for="productPrice">Product price</label>
          <input type="number" class="form-control" formControlName="pprice">
        </div>
        <div style="height: 20px;">
          <div *ngIf="!pprice.valid && pprice.touched">
            <div [hidden]="!pprice.errors.required" class="warn-txt float-right">
              <h4>Product Price is required.</h4>
            </div>
          </div>
        </div>
        <button id="btnSubmit" type="submit" class="btn btn-success">Add Product</button>
      </form>
    </div>
  </div>