<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Registration</h1>
          <h5>Feel Free to Signup</h5>
          <hr>
        </div>
        <form [formGroup]='signupform' (ngSubmit)="onSignup()">
          <div class="form-group">
            <label for="fname">First Name</label>
            <input formControlName="fname" type="text" class="form-control" id="fname" placeholder="Enter First Name">
          </div>
          <div *ngIf="!fname.valid && fname.touched">
            <div [hidden]="!fname.errors.required" class="text-danger ">
              First Name is required.
            </div>
            <div [hidden]="!fname.errors.minlength" class="text-danger ">
              First Name is short.
            </div>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input formControlName="lname" type="text" class="form-control" id="lname" placeholder="Enter Last Name">
          </div>
          <div *ngIf="!lname.valid && lname.touched">
            <div [hidden]="!lname.errors.required" class="text-danger ">
              First Name is required.
            </div>
            <div [hidden]="!lname.errors.pattern" class="text-danger ">
              Last Name can only have alphabets.
            </div>
          </div>
          <div class="form-group">
            <label for="emailid">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="emailid" aria-describedby="emailHelp"
              placeholder="Enter email">
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div [hidden]="!email.errors.required" class="text-danger ">
              Email is required.
            </div>
            <div [hidden]="!email.errors.email" class="text-danger ">
              Email is not valid.
            </div>
          </div>
          <div class="form-group">
            <label for="mnum">Mobile Number</label>
            <input formControlName="mnum" type="text" class="form-control" id="mnum" aria-describedby="emailHelp"
              placeholder="Enter mobile number">
          </div>
          <div *ngIf="!mnum.valid && mnum.touched">
            <div [hidden]="!mnum.errors.required" class="text-danger ">
              Mobile Number is required.
            </div>
            <div [hidden]="!mnum.errors.pattern" class="text-danger ">
              Mobile Number is not valid.
            </div>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input formControlName="pass" type="password" class="form-control" id="pass" placeholder="Password">
          </div>
          <div *ngIf="!pass.valid && pass.touched">
            <div [hidden]="!pass.errors.required" class="text-danger ">
              Password is required.
            </div>
            <div [hidden]="!pass.errors.minlength" class="text-danger ">
              Minimum 6 characters required.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <a routerLink="/login">Already have an account? Click here to Login. </a>
      </div>
    </div>
  </div>
</div>