.form-control{
    width: 600px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* margin-right: 100px; */
}

/* .searchicon{
    /* margin-right: 30vw; *
} */